[MESSAGES CONTROL]

disable = bad-continuation, missing-docstring, duplicate-code

[DESIGN]

max-args = 7
max-attributes = 12
min-public-methods = 1

[BASIC]

# Variable names which should always be accepted
good-names = i,
             df,
             _
