<html>
<head>
<meta charset="UTF-8"> 

<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/webviz_doc.css">

<!-- Also update package-lock.json with highlight.js version number: -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js" integrity="sha256-sNPiigbfSkqUzMc5rgrdztLnneCMAp6W9wetJUZu9Zw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/languages/yaml.min.js" integrity="sha256-GuL67zsJWO0bMHHaASSslF37TSgnQF5fuL2n80/HpoU=" crossorigin="anonymous"></script>

<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

{% macro infobox(header, include_file) %}

{%- set info_box_id = range(1, 1000000000) | random -%}

<div style="padding-top: 0.5rem; padding-bottom: 0.5rem">
  <input type="checkbox" id="{{ info_box_id }}" class="infobox-checkbox">
  <label for="{{ info_box_id }}" class="infobox-header">{{ header }}</label>

  <div class="content-wrapper-infobox">
    <div class="content-infobox">
      {% include(include_file) %}
    </div>
  </div>
</div>

{% endmacro %}

<div class='container'>

  <h1>Webviz configuration guide</h1>

  {{ infobox('Fundamental configuration', './fundamental_configuration.html') }}
  {{ infobox('Container documentation', './container_documentation.html') }}
  {{ infobox('How to share on Azure', './sharing.html') }}

</div>

</body>

</html>
